<h1>
<%= @game.current_player.name%> attacked <%= @game.current_victim.name %>
</h1>

<h2>
<%= @game.current_victim.name %>: <%= @game.current_victim.hit_points %> HP
</h2>

<br>

<form action ="/switch_turns" method="post">
  <input type="submit" value="OK">
</form>
